.header {
    //border: solid 2px yellow;
    padding: 20px;
    height: 20vh;
    width: 100%;
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: white;
  }

  .boxLogo{
    width:23vw ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
   
    img{
      //border: solid 2px yellow;
      width: 15%;
      height: 8vh;
    }

    h1{
      font-size: 30px;
      color: #fff;
    }
  }
  
  .boxMenu{      
    width: 35vw;
      ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 20px;
          a{
            color: white;
          }
          :hover{
            background-color: rgba(0,86,149,1);
            border-radius: 5px;
          }
      }
    
  }

  .boxSearch{
    border: solid 2px white;
    width: 17vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding-right: 15px;
    margin-right: 20px;
  }


  .boxInput{
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    color: white;
    font-size: 17px;
    outline: none;
    &::placeholder{
      color: white;
    }
  }

  
@media(max-width: 1170px){
  .boxLogo{
    //border: solid 2px red;
    h1{
      font-size: 1.7vw;
    }
    img{
      width: 5vw;
    }
  }

  .boxMenu{
    //border: solid 2px yellow;
    ul{
      font-size: 1.6vw;

    }
  }

  .boxSearch{
    width: 20vw;
    }

  .boxInput{
    width: 16vw;
    &::placeholder{
      font-size: 1.3vw;
    }
  }
}

@media(max-width: 760px){
  header{
    //border: solid 2px blue;
    height:30vh;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }

  .boxSearch{
    display: none;
  }

  .boxLogo{
    width: 100%;
    justify-content: space-evenly;
    h1{
      font-size: 28px;
    }

    img{
      width: 50px;
    }
  }

  .boxMenu{
    width: 100%;
    ul{
      font-size: 22px;
      justify-content: space-around;
    }
  }
}

@media(max-width: 380px){
    .header{
    //border: solid 2px yellow;   
    height: 18vh;
    font-size: 15px;
}

    .boxLogo{
      img{
        //border: solid 2px red;    
        height: 40px;  
      }
      h1{
        font-size: 0.7em;
      }
    }

  .boxMenu{
    ul{
      font-size: 15px;      
    }
  }
}











  