

footer{
    border: solid 2px green;
    height: 20vh;    
}

.boxSocial{
    background-color:rgba(0, 86, 149, 1);
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


