


.boxDoados{
    //border: solid 4px yellow;
    //height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    min-height: 80vh;
    margin-bottom: 30px;
    h2{
        height: 100px;
        display: flex;
        align-items: center;
    }
}

.boxcard{
    //border: solid 4px red;
    width: 85vw;
    //height: 60vh;
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    article{
        border: solid 2px #005695;
        border-radius: 13px;
        width: 200px;
        height: 32vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        h3{
            color: red
        }
        img{
            padding-bottom: 20px;
            width: 30%;
        }
    }
}


@media(max-width: 900px){
    .boxcard{
        height: 80vh;
    }

    .boxDoados{
        height: 90vh;
    }
}
